/* место для вашего кода */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: #000;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
    font: inherit;
}

/* Шапка */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
}

.header__menu {
    justify-self: start;
}

.header__links-list {
    display: flex;
    gap: 32px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    border-bottom: 1px solid currentColor;
}

.header__link_active {
    border-bottom: none;
}

.header__logo {
    display: block;
    width: 148px;
}

.header__logo-image {
    width: 100%;
}

.header__address {
    justify-self: end;
    max-width: 240px;
    font-style: normal;
    line-height: 1.35;
}

/* Обложка */
.cover {
    position: relative;
    padding: 165px 50px 50px;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover__title {
    position: relative;
    z-index: 2;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
    margin: 20px 0;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 78px;
    margin-top: 135px;
}

.cover__description-text {
    font-size: 22px;
    line-height: 1.27;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    padding: 12px 32px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
}

/* Секция лотов */
.lots {
    padding: 180px 50px;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 27px;
    padding-left: 40px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 30px;
}

.lots__card-list-item {
    flex: 1 1 430px;
    min-height: 450px;
}

.card-link {
    display: block;
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px 40px;
    color: #fff;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
    background-size: cover;
    background-position: center;
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
    background-size: cover;
    background-position: center;
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
    background-size: cover;
    background-position: center;
}

.card__title {
    position: relative;
    z-index: 2;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: underline;
    text-transform: uppercase;
}

.card__text {
    position: relative;
    z-index: 2;
    font-size: 20px;
    line-height: 1.2;
}

.lots__look-more-link {
    margin-left: 40px;
    border-bottom: 1px solid currentColor;
}

/* Секция "Об аукционе" */
.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 25px;
    padding: 0 50px 180px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin: 0 auto;
    background-color: #000;
    border-radius: 50%;
}

.about__logo-image {
    width: 148px;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 100px 0;
}

.about__text {
    font-size: 20px;
    line-height: 1.2;
}

.about__text p:first-child {
    margin-bottom: 25px;
}

/* Подвал */
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 180px 50px 90px;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    text-align: center;
}

.footer__menu-list-item {
    margin-bottom: 5px;
}

.footer__menu-link {
    border-bottom: 1px solid currentColor;
}

.footer__menu-link_active {
    border-bottom: none;
}

.footer__social-list {
    display: flex;
    justify-content: end;
    gap: 48px;
}

.footer__social-icon {
    width: 48px;
}
